# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md

on:
  push:
    tags-ignore:
      - '**'
    pull_request:
    branches:
    - '**'

name: MacOS Tests

jobs:
  test:
    strategy:
      matrix:
        os:
          - "macos-latest"
          - "macos-10.15"
    name: MacOS Tests
    continue-on-error: true
    runs-on: "${{ matrix.os }}"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Install Cargo Make
        uses: davidB/rust-cargo-make@v1

      - name: Install Dependencies
        run: cargo make install_deps

      - run: cargo make test --no-default-features
      - run: cargo make test

